{
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "semi": true,
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": true,
        "trailingComma": "es5",
        "bracketSpacing": true
      }
    }
  ]
}
